params.bams = "[!*]"
params.adapters = "/usr/local/src//NexteraPE-PE.fa"
params.snpeff = "/pipeline/workflow/snpEff.config"
params.pl = "illumina"
params.pm = "miseq"
params.fcid = "000000000-CP3RN"
params.grouping_regex = "-[AB]_S\\d+"
params.snpeffjar = "/usr/local/src/snpEff/snpEff.jar"
params.snpeffref = "SARS-CoV2_NC_045512.2"
params.filter_variants_script = "/pipeline/utils/filter_variants.py"
params.parse_metrics_script = "/pipeline/utils/parse_metrics.sh"
params.parse_metrics_artic = "/pipeline/utils/parse_metrics.py"
params.plot_coverage = "/pipeline/utils/process_coverage.py"
params.parse_snpeff_effect = "/pipeline/utils/parse_snpeff_vcf.py"
